discord/*
spotify/*
zsh/plugins/*
GIMP/*
pulse/*
OpenRGB/*
qBittorrent/*
Code - OSS/*
QtProject.conf
VirtualBox/*
configstore/*
google-chrome/*
insight-nodejs/*
mimeapps.list
dconf/*
Code/*
Thunar/*
droidcam
kde*
obs-studio/*
xfce4/*
gtk-2.0/*
gtk-3.0/*
flameshot/*
Android\ Open\ Source\ Project/*
Google/*
Joplin/*
cef_user_data/*
chrome-remote-desktop/*
joplin-desktop/*
menus/*
pacmixer/*
pavucontrol.ini
btop/*
calendariodegoogleaccedeatucuentaparavisualizaryeditartuagenda-nativefier-f03e0c/*
calculatorsuite-geogebra-nativefier-a3f6c8/*
noisetorch/*
blender/*
libreoffice/*
Insomnia/*
StarUML/*
vlc/*
minesweeper-nativefier-eed09f/*
zoomus.conf
Unknown\ Organization/*
Electron/*
htop/*
pistol/*
balena-etcher-electron/
irb/
kwalletrc
protonvpn/
systemd/
unity3d/
autostart/*
byobu/*
inkscape/*
kconf_updaterc
khotkeysrc
krusaderrc
Microsoft/*
Postman/*
teams/*
notion-app/*
nitrogen/*
