discord/*
spotify/*
zsh/plugins/*
GIMP/*
pulse/*
OpenRGB/*
qBittorrent/*
Code - OSS/*
QtProject.conf
VirtualBox/*
configstore/*
google-chrome/*
insight-nodejs/*
mimeapps.list
dconf/*
Code/*
Thunar/*
droidcam
kde*
obs-studio/*
xfce4/*
gtk-2.0/*
gtk-3.0/*
flameshot/*
Android\ Open\ Source\ Project/*
Google/*
Joplin/*
cef_user_data/*
chrome-remote-desktop/*
joplin-desktop/*
menus/*
pacmixer/*
pavucontrol.ini
btop/*
Google\ Calendar/*
calculatorsuite-geogebra-nativefier-a3f6c8/*
noisetorch/*
blender/*
libreoffice/*
Insomnia/*
StarUML/*
vlc/*
minesweeper-nativefier-eed09f/*
zoomus.conf
Unknown\ Organization/*
Electron/*
htop/*
pistol/*
balena-etcher-electron/
irb/
kwalletrc
protonvpn/
systemd/
unity3d/
autostart/*
byobu/*
inkscape/*
kconf_updaterc
khotkeysrc
krusaderrc
Microsoft/*
Postman/*
teams/*
notion-app/*
nitrogen/*
github-copilot/*
Bootstrap Studio/*
TabNine/*
bstudio/*
jgit/*
lvim/*
pdfcpu/
pgmodeler-1.0/
pgmodeler/
wireshark/
nvim/java-debug
nvim/vscode-java-test
vue/*
sptlrx/*
BraveSoftware/*
sleek/*
zoom.conf
krita*
konsole*
kminesrc
user-dirs.dirs
user-dirs.locale
balena-etcher/*
totem/*
scripts/polybar/timer_suspend.txt
scripts/global/timer_with_notif.txt
redshift/redshift.conf
calibre/*
nautilus/*
Arduino IDE/*
arduino-ide/*
gdrive3/*
__pycache__/
JetBrains/*
gh/*
gh-copilot/*
.android/*
chromium/*
create-next-app-nodejs/*
go/*
nextjs-nodejs/*
obsidian/*
astro/*
