discord/*
spotify/*
zsh/plugins/*
GIMP/*
pulse/*
OpenRGB/*
qBittorrent/*
Code - OSS/*
QtProject.conf
VirtualBox/*
configstore/*
google-chrome/*
insight-nodejs/*
mimeapps.list
dconf/*
Code/*
Thunar/*
droidcam
kde*
obs-studio/*
xfce4/*
gtk-2.0/*
gtk-3.0/*
flameshot/*
