# Environment variables set everywhere
export GTK_THEME=WhiteSur-Dark
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="brave"
export SHELL="zsh"

# Noisetorch
noisetorch -i alsa_input.usb-Kingston_Technology_Company_HyperX_Cloud_Flight_Wireless-00.mono-fallback

# xbindkeys
xbindkeys

# Monitor config
xrandr --output HDMI-A-0 --primary --set TearFree on
xrandr --output HDMI-A-0 --set TearFree on --auto --output DisplayPort-0 --auto --right-of HDMI-A-0 --set TearFree on --output DisplayPort-1 --set TearFree on --auto --left-of HDMI-A-0
xrandr --output DisplayPort-0 --mode 2560x1440 --rate 240

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

## XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Screenshots
flameshot &

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

#nitrogen background
nitrogen --restore

# polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

#xbindkeys 
killall -HUP xbindkeys

# load Xresources
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# load wacom tablet
# 1 - fixes stylus to first screen
# 2 - fixes area of stylus
# 3 - rotates the tablet 180deg
which xsetwacom && xsetwacom set "Wacom One by Wacom S Pen stylus" MapToOutput 1920x1080+0+0 && xsetwacom set "Wacom One by Wacom S Pen stylus" Area 0 0 15200 8550 && xsetwacom set "Wacom One by Wacom S Pen stylus" Rotate half

# nvm init
/usr/share/nvm/init-nvm.sh 
